---
title: Welcome to Middleman
---

<% blog.articles.each do |article| %>
  <article>
    <h1><%= link_to article.title, article.url%></h1>
    <time><%= article.date.strftime('%b %e %Y') %></time>
  </article>
<% end %>